<!DOCTYPE html>
<html lang="en">

<head>
  <title>BURGERZ - Orders</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="/styles/layout.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/styles.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery.timeago.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Font Awesome External JS-->
  <script src="https://kit.fontawesome.com/1452ad3553.js" crossorigin="anonymous"></script>
</head>

<body>
  <% include ./partials/_header %>
  <main>
    <div class="active-orders">
      <h1>Active Orders</h1>

      <% for (const order of structuredOrders) { %>
        <div class="order-box">
          <div class="order-essentials">
            <p>Order: <%= order.order_id %></p>
            <p>customer: <%= order.user.customer_name %> <%= order.user.phone_number %></p>
          </div>
          <p></p>
        <!-- </div> -->
        <div class="order-items">
            <p>Ordered at: <time class="timeago" datetime="<%= order.ordered_at %>"></time></p>
            <p class="order-status"><%= order.order_status %></p>
            <div class="comments">
              <p class="must-see"><%= order.customer_comments %></p>
            </div>
            <table class="order-table">
              <tr class="status-<%= order.order_status %>">
                <th>item</th>
                <th>qty</th>
              </tr>
              <% for (const food of order.foods) { %>
                <tr>
                  <td class="must-see ordered-food"><%= food.food_name %></td>
                  <td class="must-see"><%= food.food_qty %></td>
                </tr>
              <% } %>
            </table>
            <form class="kitchen-buttons" action="/owners/<%= user.id %>/orders/<%= order.order_id %>" method="post">
              <% if (order.order_status === 'new') {%>
              <div class="timebox">
                  <p>Time to fulfill</p>
                  <input type="number" class="timer-input" name="timer" min="5" max="45">
                </div>
                <button name="state" class="status-processing accept-btn" value="processing">Accept</button>
              <% } else if (order.order_status === 'processing')  { %>
                <button name="state" class="status-fulfilled fulfill-btn" value="fulfilled">DONE</button>
              <% } %>
              <button name="state" class="status-cancel cancel-btn" value="declined">Cancel</button>
            </form>
          </div>
        </div>
      <% } %>
    </div>
  </main>
  <% include ./partials/_footer %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
